h1{
    text-align: center;
    color: #e63946;
}

div{
    padding: 10px 5px 30px;
    margin-left: 100px;
    border: 1px solid blue;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}

p.interno{
    margin-left:inherit;
}