h1{
    text-align: center;
    color: #e63946;
}

div{
    padding: 10px 5px 30px;
    margin: 0px;
    border: 1px solid blue;
    background-color: #f1faee;
    max-width: 100%;
    box-sizing: border-box;
}