body{
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("/css/leccion05/img/fondo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /*background: dodgerblue url("/css/leccion05/img/fondo.png") no-repeat right top;*/
}
h1{
    text-align: center;
    background-color: dodgerblue;
}