h1{
    text-align: center;
    color: crimson;
}

div.contenedor{
    border: 3px dashed greenyellow;
    margin: auto;
    width: 30%;
    height: 100px;
    /*overflow: visible;*/
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    overflow: auto;
}
