body {
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 100px ; /* Elimina el margen del cuerpo del documento */
}

a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    color: rgba(128, 255, 0, 0.5);
}

a:active {
    color: rgba(128, 255, 0, 1);
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Agrega un desplazamiento horizontal si el contenido es más ancho que la ventana */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
}

.tabla1 th {
    color: white;
    background-color: #2e8b57;
}

.tabla1 td {
    color: #eee;
    background-color: #8C362E;
}

.tabla2 th {
    background-color: #daa520;
}

.invisible {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    outline: none;
    width: 100%;
    margin: 0;
    padding: 0; /* Elimina cualquier relleno dentro del botón */
    border: none; /* Elimina cualquier borde dentro del botón */
}

.tabla2 td {
    color: #eee;
    background-color: #2152D9;
}
